@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  
  
}
.clown{
    width: 20%;
}
.main_container {
    background: #fff;
    border-radius: 1.6rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 13rem 12rem;
    max-width: 100%;
    width: 800px;
    text-align: center;
}

h3{
    margin: 0;
    letter-spacing: 0.2rem;
    opacity: 0.5;
    font-size: 2rem;
}
.joke{
    font-size: 1.8rem;
    margin: 50px auto;
}
.btn{
    background-color: purple;
    border: 0;
    border-radius: 0.8rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 1rem 3rem;
    color: #fff;
    cursor: pointer;
    transform: all ease 400ms;
}
.btn:active{
    transform: scale(.98);

}
.icon {
    color: yellow;
    font-size: 1rem;
    margin-left: 0.5rem; 
}